monai==1.2.0
numpy==1.26.4
nibabel
fvcore
tqdm
einops
tensorboardX
scipy
positional-encodings[pytorch]
SimpleITK
tensorboard
scipy
scikit-learn
scikit-image
ptflops
pillow==10.0.0
timm
opencv-python==4.8.0.74
h5py
torch==2.0.0
torchvision==0.15.1
imagecodecs